<!doctype html>
<html ng-app="node">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./img/config.png">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/angular/angular-toastr-1.4.1.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" media='all' href="vendor/angular/loading-bar.min.css">
    <link rel="stylesheet" type="text/css" href="styles/common-style.css">
    <title>节点管理</title>
</head>

<body>
<apollonav></apollonav>
<div class="container-fluid apollo-container" ng-controller="NodeController" >

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel">
            <header class="panel-heading">
             <div class="row">
               <h4 class="col-md-6 col-sm-6 pull-left">
                   <span>节点管理</span>
               </h4>
                <div class="col-md-6 col-sm-6 text-right">
                      <button type="button" class="btn btn-primary btn-sm col-md-1.5 " 
                            ng-click="createNode()">
                                <img src="img/plus.png" height="21px" border="21px" >
                                 &nbsp;新 &nbsp;增
                      </button>
                &nbsp;
                      <a type="button" class="btn btn-info" href="/uapollo/config.html?#/applicationMetaId={{applicationId}}&projectId={{projectid}}">首&nbsp; 页
                     </a>
                </div>
             </div>
          </header>
                <table class="table table-bordered table-striped table-hover" >
                        <thead>
                        <tr>
                            <th>节点序号</th>
                            <th>节点名称</th>
                            <th>项目名称</th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr align="center" ng-repeat="node in nodes track by $index ">
                            <td class="cursor-pointer" title="点击查看" ng-click="showText(node)">
                                <span ng-bind="node.id" ></span>
                            </td>
                            <td class="cursor-pointer" title="点击查看" ng-click="showText(node)">
                                <span ng-bind="node.name"></span>
                            </td>
                            
                            <td class="cursor-pointer" title="点击查看" >
                                 <span ng-show="true"  ng-bind="node.projectName"></span> 
                            </td>
                            
                            <td width="16%" class="text-center"> 
                              <img src="img/edit.png" height="35px" width="35px" data-tooltip="tooltip" data-placement="bottom" title="修改" 
                                     ng-click="editNode(node)"
                                     ng-show="true"> 
                                <img style="margin-left: 5px;" src="img/cancel.png" height="35px" width="35px"
                                     data-tooltip="tooltip" data-placement="bottom" title="删除"
                                     ng-click="preDeleteNode(node)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
 <div>
 
 <form class="modal fade" id="nodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        name="nodeForm" ng-submit="doNode()" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panel-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                </button>
                <h4 class="modal-title" >
                    <span ng-show="tableViewType == 'update'">修改节点</span>
                    <span ng-show="tableViewType == 'create'">添加节点</span>
                </h4>
            </div>
            
            <div class="modal-body form-horizontal">
                <div class="form-group"  ng-if = "tableViewType != 'create'">
                    <label class="col-sm-2 control-label">
                                                            节点序号
                    </label>
                    <div class="col-sm-10" valdr-form-group>
                        <input type="text" name="id" class="form-control" ng-model="nodeShow.id"
                         tabindex="1" ng-disabled="true"  />
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                                                                项目名称
                    </label>
                    <div class="col-sm-10" valdr-form-group>
                        <select class="form-control" ng-model="projectShowName" ng-options=" projectName.name for projectName in projectNames"
                        ng-disabled="tableViewType == 'show'">
                            <option value="" ng-reqired="true" ></option> 
                        </select> 
                    </div>
                </div>
            
                <div class="form-group">
                    <label class="col-sm-2 control-label" >
                                                            节点名称
                    </label>
                    <div class="col-sm-10" valdr-form-group>
                        <input type="text" name="name" class="form-control" ng-model="nodeShowName" 
                        ng-required="true" tabindex="1" ng-disabled="tableViewType == 'show'"/>
                    </div>
                </div>
               
            </div>
            <div class="modal-footer">
            
                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        取消
                </button>
                  <button type="submit" class="btn btn-primary" ng-disabled="nodeForm.$invalid">
                                                        提交
                </button>
                
            </div>
          </div>
        </div>
    </form>  
</div> 
</div>


<!-- jquery.js -->
<script src="vendor/jquery.min.js" type="text/javascript"></script>
<script src="vendor/select2/select2.min.js" type="text/javascript"></script>

<!--angular-->
<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular/angular-resource.min.js"></script>
<script src="vendor/angular/angular-toastr-1.4.1.tpls.min.js"></script>
<script src="vendor/angular/loading-bar.min.js"></script>



<!-- bootstrap.js -->
<script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<!--valdr-->
<script src="vendor/valdr/valdr.min.js" type="text/javascript"></script>
<script src="vendor/valdr/valdr-message.min.js" type="text/javascript"></script>


<script type="application/javascript" src="scripts/app.js"></script>
<script type="application/javascript" src="scripts/services/AppService.js"></script>
<script type="application/javascript" src="scripts/services/EnvService.js"></script>
<script type="application/javascript" src="scripts/services/UserService.js"></script>
<script type="application/javascript" src="scripts/services/CommonService.js"></script>
<script type="application/javascript" src="scripts/services/PermissionService.js"></script>
<script type="application/javascript" src="scripts/services/NamespaceService.js"></script>
<script type="application/javascript" src="scripts/services/EventManager.js"></script>
<script type="application/javascript" src="scripts/services/ConfigService.js"></script>
<script type="application/javascript" src="scripts/services/NamespaceBranchService.js"></script>
<script type="application/javascript" src="scripts/services/ProjectService.js"></script>
<script type="application/javascript" src="scripts/services/NodeService.js"></script>

<script type="application/javascript" src="scripts/AppUtils.js"></script>
<script type="application/javascript" src="scripts/services/OrganizationService.js"></script>
<script type="application/javascript" src="scripts/directive/directive.js"></script>

<script type="application/javascript" src="scripts/controller/NodeController.js"></script>



</body>
</html>
