
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myApplicationConfigHistoryLabel" data-translate="uapolloApp.applicationConfigHistory.home.createOrEditLabel">Create or edit a Application Config History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.applicationConfigHistory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.applicationConfigHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.applicationConfigHistory.applicationId" for="field_applicationId">Application Id</label>
            <input type="number" class="form-control" name="applicationId" id="field_applicationId"
                    ng-model="vm.applicationConfigHistory.applicationId"
                    required/>
            <div ng-show="editForm.applicationId.$invalid">
                <p class="help-block"
                    ng-show="editForm.applicationId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.applicationId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.applicationConfigHistory.applicationConfigid" for="field_applicationConfigid">Application Configid</label>
            <input type="number" class="form-control" name="applicationConfigid" id="field_applicationConfigid"
                    ng-model="vm.applicationConfigHistory.applicationConfigid"
                    required/>
            <div ng-show="editForm.applicationConfigid.$invalid">
                <p class="help-block"
                    ng-show="editForm.applicationConfigid.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.applicationConfigid.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.applicationConfigHistory.configContent" for="field_configContent">Config Content</label>
                <textarea class="form-control" name="configContent" id="field_configContent"
                    ng-model="vm.applicationConfigHistory.configContent" required></textarea>
            <div ng-show="editForm.configContent.$invalid">
                <p class="help-block"
                    ng-show="editForm.configContent.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.applicationConfigHistory.operation" for="field_operation">Operation</label>
            <select class="form-control" name="operation" ng-model="vm.applicationConfigHistory.operation" id="field_operation" required>
                <option value="CREATE" data-translate="uapolloApp.Operation.CREATE">CREATE</option>
                <option value="UPDATE" data-translate="uapolloApp.Operation.UPDATE">UPDATE</option>
                <option value="DELTEE" data-translate="uapolloApp.Operation.DELTEE">DELTEE</option>
            </select>
            <div ng-show="editForm.operation.$invalid">
                <p class="help-block"
                    ng-show="editForm.operation.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.applicationConfigHistory.createTime" for="field_createTime">Create Time</label>
            <input type="number" class="form-control" name="createTime" id="field_createTime"
                    ng-model="vm.applicationConfigHistory.createTime"
                    required/>
            <div ng-show="editForm.createTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.createTime.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.createTime.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
