
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myApplicationMetaHistoryLabel" data-translate="uapolloApp.applicationMetaHistory.home.createOrEditLabel">Create or edit a Application Meta History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.applicationMetaHistory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.applicationMetaHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.applicationMetaHistory.projectId" for="field_projectId">Project Id</label>
            <input type="number" class="form-control" name="projectId" id="field_projectId"
                    ng-model="vm.applicationMetaHistory.projectId"
                    required/>
            <div ng-show="editForm.projectId.$invalid">
                <p class="help-block"
                    ng-show="editForm.projectId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.projectId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.applicationMetaHistory.applicationMetaId" for="field_applicationMetaId">Application Meta Id</label>
            <input type="number" class="form-control" name="applicationMetaId" id="field_applicationMetaId"
                    ng-model="vm.applicationMetaHistory.applicationMetaId"
                    required/>
            <div ng-show="editForm.applicationMetaId.$invalid">
                <p class="help-block"
                    ng-show="editForm.applicationMetaId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.applicationMetaId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.applicationMetaHistory.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.applicationMetaHistory.name"
                    required ng-maxlength="32"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.applicationMetaHistory.configFile" for="field_configFile">Config File</label>
            <input type="text" class="form-control" name="configFile" id="field_configFile"
                    ng-model="vm.applicationMetaHistory.configFile"
                    required ng-maxlength="32"/>
            <div ng-show="editForm.configFile.$invalid">
                <p class="help-block"
                    ng-show="editForm.configFile.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.configFile.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.applicationMetaHistory.configContent" for="field_configContent">Config Content</label>
                <textarea class="form-control" name="configContent" id="field_configContent"
                    ng-model="vm.applicationMetaHistory.configContent" required></textarea>
            <div ng-show="editForm.configContent.$invalid">
                <p class="help-block"
                    ng-show="editForm.configContent.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.applicationMetaHistory.operation" for="field_operation">Operation</label>
            <select class="form-control" name="operation" ng-model="vm.applicationMetaHistory.operation" id="field_operation" required>
                <option value="CREATE" data-translate="uapolloApp.Operation.CREATE">CREATE</option>
                <option value="UPDATE" data-translate="uapolloApp.Operation.UPDATE">UPDATE</option>
                <option value="DELTEE" data-translate="uapolloApp.Operation.DELTEE">DELTEE</option>
            </select>
            <div ng-show="editForm.operation.$invalid">
                <p class="help-block"
                    ng-show="editForm.operation.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.applicationMetaHistory.createTime" for="field_createTime">Create Time</label>
            <input type="number" class="form-control" name="createTime" id="field_createTime"
                    ng-model="vm.applicationMetaHistory.createTime"
                    required/>
            <div ng-show="editForm.createTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.createTime.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.createTime.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
