
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myApplicationLabel" data-translate="uapolloApp.application.home.createOrEditLabel">Create or edit a Application</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.application.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.application.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.application.createTime" for="field_createTime">Create Time</label>
            <input type="number" class="form-control" name="createTime" id="field_createTime"
                    ng-model="vm.application.createTime"
                    required/>
            <div ng-show="editForm.createTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.createTime.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.createTime.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.application.modifyTime" for="field_modifyTime">Modify Time</label>
            <input type="number" class="form-control" name="modifyTime" id="field_modifyTime"
                    ng-model="vm.application.modifyTime"
                    required/>
            <div ng-show="editForm.modifyTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.modifyTime.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.modifyTime.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="uapolloApp.application.applicationMeta" for="field_applicationMeta">Application Meta</label>
            <select class="form-control" id="field_applicationMeta" name="applicationMeta" ng-model="vm.application.applicationMetaId" ng-options="applicationMeta.id as applicationMeta.id for applicationMeta in vm.applicationmetas"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="uapolloApp.application.server" for="field_server">Server</label>
            <select class="form-control" id="field_server" name="server" ng-model="vm.application.serverId" ng-options="server.id as server.id for server in vm.servers"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
