<div id="deleteNodeModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-primary">
	            <h4 class="modal-title">
	                删除节点
	            </h4>
            </div>
            <div class="modal-body form-horizontal">
                       确定要删除节点吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="doDeleteNodeModal()">
                    确认
                </button>  
            </div>
        </div>
    </div>
</div>