
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myServerHistoryLabel" data-translate="uapolloApp.serverHistory.home.createOrEditLabel">Create or edit a Server History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.serverHistory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.serverHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.serverHistory.nodeId" for="field_nodeId">Node Id</label>
            <input type="number" class="form-control" name="nodeId" id="field_nodeId"
                    ng-model="vm.serverHistory.nodeId"
                    required/>
            <div ng-show="editForm.nodeId.$invalid">
                <p class="help-block"
                    ng-show="editForm.nodeId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nodeId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.serverHistory.serverId" for="field_serverId">Server Id</label>
            <input type="number" class="form-control" name="serverId" id="field_serverId"
                    ng-model="vm.serverHistory.serverId"
                    required/>
            <div ng-show="editForm.serverId.$invalid">
                <p class="help-block"
                    ng-show="editForm.serverId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.serverId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.serverHistory.ip" for="field_ip">Ip</label>
            <input type="text" class="form-control" name="ip" id="field_ip"
                    ng-model="vm.serverHistory.ip"
                    required ng-maxlength="32"/>
            <div ng-show="editForm.ip.$invalid">
                <p class="help-block"
                    ng-show="editForm.ip.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ip.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.serverHistory.operation" for="field_operation">Operation</label>
            <select class="form-control" name="operation" ng-model="vm.serverHistory.operation" id="field_operation" required>
                <option value="CREATE" data-translate="uapolloApp.Operation.CREATE">CREATE</option>
                <option value="UPDATE" data-translate="uapolloApp.Operation.UPDATE">UPDATE</option>
                <option value="DELTEE" data-translate="uapolloApp.Operation.DELTEE">DELTEE</option>
            </select>
            <div ng-show="editForm.operation.$invalid">
                <p class="help-block"
                    ng-show="editForm.operation.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="uapolloApp.serverHistory.createTime" for="field_createTime">Create Time</label>
            <input type="number" class="form-control" name="createTime" id="field_createTime"
                    ng-model="vm.serverHistory.createTime"
                    required/>
            <div ng-show="editForm.createTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.createTime.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.createTime.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
